@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Poppins, Roboto, sans-serif;
    background-color: #27303A;
    background-image: url('img/bg.png');
    font-size: 1.1em;
    color: #ffffff;
    min-height: 100vh;
}

/* Grow */
.full-height-grow {
    display: flex;
    flex-direction: column;
}


/* control screen growth */
.brand-logo {
    display: flex;
    align-items: center;
}

.main-header {
    display: flex;
    justify-content: center;
    height: 200px;
}

.container {
    max-width: 1360px;
}

/* Button */
.rectangle-form button:hover {
    background: #27303A;
    border: none;
}


/* Home */
.box-1 {
    position: relative; background-image: url('img/home-banner.png');
    position: relative;
    height: 100%;
    width: 681px;
    height: 680px;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: center; 
}

.bg-home {
   
}

.home-form {
    position: absolute;
    width: 526px;
    height: 494px;
    left: 417px;
    top: 93px;
    background: #171C28;
    border-radius: 15px;
}

h2.title {
    margin-top: 20px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 28px;
}

.home-form span {
    font-weight: 450;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.home-form.text-center img {
    padding-top: 37px;
    width: 20%;
}

button.custom {
    width: 250px;
    height: 39px;
    background: #5629EE;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 13px;
    margin: 27px;
    display: flex;
    justify-content: center;
}

.custom b {
    padding-left: 5px;
}

button.custom.google {
    background: #5D42C1;
}

button.custom.email {
    background: #E9E9E9;
    color: #4429F2;
}

button.custom i {
    padding-right: 15px;
    font-size: 17px;
}

button a, button a:hover {
    color: #ffffff;
    text-decoration: none;
    list-style: none;
}
